

#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background-image: url(./img/bag.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#bag.burst{
    background-image: url(./img/bag-burst.png);
}



#bag-health{
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}
#bag-health div{
    height: 20px;
    background-color: crimson;
}




#controls{
    margin: 0 auto;
    width: 120px;
}